
@{
    ViewBag.Title = "Index";
}

<h2>The MAMO Summer Box Office Competitiion</h2>

<div class="my-team-select">
    @{Html.RenderAction("years_dropdown", "mamo");}
</div>
<h3>
    Rules of the Game
</h3>
<p>
Points awarded for:
</p>
<ul>
    <li>
        A. 1-10 Points for film rankings. If you are bang on (your #1 pick comes in #1) you get 10. If you are 5 places away (your #8 film comes in #3) you get 5, etc.
    </li>
    <li>
        B. 10 bonus points for every film who’s gross you have within 5 million of the actual gross.
    </li>
    <li>
        C. 5 bonus points for every film who’s gross you have within 10 million of the actual gross.
    </li>
    <li>
        D. 1 bonus point for every film who’s gross you have within 20 million of the actual gross.
    </li>
    <li>
        E. 10 Bonus Points for every film who’s opening weekend gross is within $1 million of the actual opening weekend gross.
    </li>
    <li>
        F. 5 Bonus Points for every film who’s opening weekend gross is within $5 million of the actual opening weekend gross.
    </li>
    <li>
        G. 1 Bonus Point for every film who’s opening weekend gross is within $10 million of the actual opening weekend gross.
    </li>
    <li>
        E. 10 point bonus for every film you have ranked correctly AND within 5 million of the actual gross AND within $1 million of the opening weekend gross.
    </li>
    <li>
        F. For the purposes of calculating weekends – Films opening on a Wednesday are counted until the first Sunday they are released. Films opening on Memorial Day weekend are counted until the following Monday. Films opening the week of July 4 are counted from whenever they open in that week until the first Sunday of their release. Example – Spiderman opens on Tuesday, July 3. Your guess for weekend gross would actually be its 6 day total, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday
    </li>
</ul>
