@model film.Models.mamo_team

@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section cssjs {
    <script src="~/Scripts/custom/team_building.js"></script>
}


<h2>Team @Html.Raw(Model.year.year)</h2>

@{ 
    using (Html.BeginForm()) {
        @Html.Hidden("team_id", Model.id)

        <table class="table">
            <tr>
                <th>
                    Ranking
                </th>
                <th>
                    Film Name
                </th>
                <th>
                    Predicted Total
                </th>
                <th>
                    Predicted Opening
                </th>
                <th>
                    Release Date
                </th>
                @if (!Model.submitted)
                {
                <th></th>
                }
            </tr>
            <div class="films">
            @foreach (var item in Model.films)
            {
                <div class="nothing">
                    @{ Html.RenderPartial("new_team_member", item); }
                </div>
            }
            </div>
        </table>
        
        if(!Model.submitted)
        {
            <input type="button" class="add_film" value="Add Film" />
            <input type="submit" class="update_films" value="Submit" />
            <input type="submit" class="lock" value="Lock Films" />
        }

    }
}
